* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  background-color: black;
  font-family: 'Varela Round', sans-serif;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.548);
  align-items: center;
  border-radius: 20px;
}

.header h1 {
  margin: 10px 0 10px 0;
}

.info {
  font-size: 15px;
}

.header .score {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  margin-bottom: 20px;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 450px;
  width: 450px;
  background-color: white;
  border: 8px solid rgb(117, 117, 117);
  cursor: pointer;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  font-size: 40px;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-button {
    display: flex;
    justify-content: space-evenly;
    color: black;
    align-items: center;
  }

.reset-button p {
  align-items: center;
  justify-content: space-around;
  padding: 15px 50px;
  background-color: white;
}

.clicked {
  background-color: rgba(148, 148, 148, 0.726);
}


/* IMAGES */

.rum {
  background-image: url('../assets/rum.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.murray {
  background-image: url('../assets/murray.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.duffman {
  background-image: url('../assets/duffman.png');
  background-repeat: no-repeat;
  background-position: center;
    background-size: contain;
}

.theDude {
  background-image: url('../assets/the.dude.jpg');
  background-repeat: no-repeat;
  background-size: 120px;
    background-position: center;
}

.covid {
  background-image: url('../assets/virus.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* .mine {
  background-image: url('../assets/mine.jpg');
  background-repeat: no-repeat;
  background-size: contain;
} */

.cross {
  background-image: url('../assets/cross.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.millhouse{
  background-image: url('../assets/millhouse.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.mark{
  background-image: url('../assets/mark.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.mclovin{
  background-image: url('../assets/mcluvin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.charlie{
  background-image: url('../assets/charlie.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.merry{
  background-image: url('../assets/merry.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.michael{
  background-image: url('../assets/mcluvin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.ronBurg{
  background-image: url('../assets/ronBurg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.ronSwanson{
  background-image: url('../assets/ronSwanson.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.rumham{
  background-image: url('../assets/rumham.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.rumham{
  background-image: url('../assets/wolf.png');
  background-repeat: no-repeat;
  background-size: cover;
}




@media screen and (max-width: 800px) {
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header h1 {
    font-size: 20px;
  }

  .header p {
    font-size: 12px;
  }
  

}